.header__lang-link {
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  margin-right: 0.75em;
}

.header__lang-link:last-child {
  margin-right: 0;
  /* underline created using BEM Boolean Modifier */
  /* text-decoration-line: underline; */
}

@media (max-width : 360px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
