.page {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; */
  background: #2A2C2F;
  color: #FFFFFF;
  padding: 34px 0 24px;
  width: 100%;

  /* Page designed for viewports 1280px and smaller */
  max-width: 1280px;
  margin: 0 auto 0;
}

@media (max-width : 360px) {
  .page {
    padding-top: 20px;
  }
}
