@import url(./__item/photo-grid__item.css);

.photo-grid {
  display: grid;
  grid-gap: 14px;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  padding: 0 48px 92px;
  box-sizing: border-box;
}

@media (min-width: 1280px) {
  .photo-grid {
    grid-gap: 16px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .photo-grid {
    grid-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 24px 88px;
  }
}

@media (max-width: 360px) {
  .photo-grid {
    grid-gap: 12px;
    grid-template-columns: 1fr;
    padding: 0 16px 64px;
  }
}
