@import url(./__lang-link-container/header__lang-link-container.css);
@import url(./__lang-link/header__lang-link.css);

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
