@import url(./__lang-link-container/header__lang-link-container.css);
@import url(./__lang-link/header__lang-link.css);

/* modifier */
@import url(./__lang-link/_active/header__lang-link_active.css);

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 148px 58px;
}

@media (max-width: 1279px) {
  .header {
    padding: 0 48px 50px;

  }
}

@media (max-width: 1023px) {
  .header {
    padding: 0 24px 50px;
  }
}

@media (max-width: 675px) {
  .header {
    padding: 0 16px 50px;
  }
}
