@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);
@import url(./__text-box/cover__text-box.css);
@import url(./__link/cover__link.css);


.cover {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 0 48px 0;
}

@media (max-width: 1279px) {
  .cover {
    padding: 0;
  }
}
