@import url(./__background/cover__background.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);
@import url(./__text-box/cover__text-box.css);


.cover {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  box-sizing: border-box;
  padding: 0 48px 0;
}

@media (max-width: 1279px) {
  .cover {
    padding: 0;
  }
}
