.lead__caption {
  align-self: flex-start;
  font-size: 10px;
  line-height: 14px;
}

@media (max-width : 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media (max-width : 360px) {
  .lead__caption {
    padding-left: 16px;
  }
}
