.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  width: 100%;
  margin: 0 0 32px;
  text-align: center;
}

@media (max-width: 675px) {
  .cover__title {
    margin: 0 0 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
