@import url(./__image/place__image.css);
@import url(./__link/place__link.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__website/place__website.css);
@import url(./__text/place__text.css);

.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 48px 32px;
  padding-bottom: 80px;
  box-sizing: border-box;
}

@media (min-width : 1280px) {
  .place {
    grid-gap: 48px 40px;
  }
}

@media (max-width : 768px) {
  .place {
    grid-gap: 48px 28px;
    padding-bottom: 72px;

  }
}

@media (max-width : 320px) {
  .place {
    grid-template-columns: 1fr;
    padding-bottom: 49px;
    grid-gap: 32px;
  }
}
