@import url(./__copyright/footer__copyright.css);
@import url(./__link-container/footer__link-container.css);
@import url(./__link/footer__link.css);

.footer {
  padding: 92px 48px 0;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .footer {
    padding: 90px 24px 0;
  }
}

@media (max-width: 360px) {
  .footer {
    padding: 64px 16px 0;
    flex-direction: column;
  }
}
